.forms {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

form {
    color: white;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;

    & input {
        padding: 5px;
        margin-left: 1em;
    }

    & > button {
        max-width: 5em;
        font-weight: 900;
        font-size: 1.5em;
        padding: 0;
    }
}

.padding {
    padding: 2em;
}
